git+https://github.com/rytilahti/python-miio.git
micloud
requests>=2.31,<3
Pillow>=10,<13
pystray>=0.19.5,<1
pycryptodome>=3.23.0,<4
protobuf>=3.20.3,<7
vacuum-map-parser-xiaomi>=0.1.4,<1
vacuum-map-parser-ijai>=0.1.1,<1
pycaw
mcp>=2.2,<3
